<div class="card" [ngClass]="{'esFondoAzul':fondoAzul,'esFondoRojo':fondoRojo}">
  <img
    class="card-img-top"
    [src]="event.imagen"
    [alt]="event.nombre"
    [title]="event.nombre"
    [routerLink]="['/eventos/',event.id]"
  />

  <div class="card-body">
    <a  [routerLink]="['/eventos/',event.id]">
    <h4 class="card-title"   >{{ event.nombre | titlecase }}</h4>
    </a>
    <p class="card-text">{{ event.descripcion | titlecase }}</p>
  </div>
  <div class="card-footer text-muted">
    {{ event.fecha | date : "dd/MM/y" }}
    <span class="float-right">{{ event.precio | currency : "EUR" }}</span>
  </div>
  <button class="btn btn-danger ml-3 float-right" (click)="deleteEvent()">Delete</button>
</div>
