<div class="row" >
  <div class="col-6 mt-4" *ngFor="let event of evento">
    <!-- Repetir esto por cada evento -->
    <div class="card">


        <img class="card-img-top" [src]="event.image" [alt]="event.title" [title]="event.title">


      <div class="card-body">
        <h4 class="card-title">{{event.title}}</h4>
        <p class="card-text">{{event.description}}</p>
      </div>
      <div class="card-footer text-muted">
        {{event.date}}
        <span class="float-right">{{event.price}} €</span>
      </div>
    </div>
  </div>
</div>
